<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form action=""method="post">
       {% csrf_token %}
         <label for=""name="name">name
         <input type="text">
         </label>
         <br>
         <label for=""place="place">place
         <input type="text">
         </label>
         <br>
          <label for=""Gender="gender">gender
         <input type="text">
         </label>
         <br>
          <label for=""Salary="Salary">salary
         <input type="text">
         </label>
         <br>
          <label for=""Age="age">age
         <input type="text">
         </label>
         <br>
         <button type="Submit">Submit</button>
                

      </form>

</body>
</html>